<form action="/login" method="POST">

    <input type="text" name="user" placeholder="Enter Email" value="<%= @user %>">
    <%# <input type="password" password="password" placeholder="Password"/> %>

    <input type="submit" name="button" value="Login" />

</form>